<app-wrapper>
  <div class="login-container">
    <app-card-wrapper [cardTitle]="cardTitle" [buttonLabel]="buttonLabel">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="johndoe@mail.com">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <div (click)="navigate('/login')" class="login-form-link" links>
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span>It's OK, I remembered it!</span>
      </div>
    </app-card-wrapper>
  </div>
</app-wrapper>

